
h1 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-weight: 600;
    color: #ff2d22;
}

li {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(14, 190, 14);
}